<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Timeline Index</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'login_app/css/style.css' %}">

</head>

<body>
    <div id="container">

        <div id="user-interface">
            <h3>
                Welcome, {{user.first_name}} {{user.last_name}}, these are all your fireworks!
            </h3>
            <form action="/logout_user">
                <input type="submit" value="Logout" class="user-form-submit">
            </form>
            <form action="/timeline">
                <input type="submit" value="Timeline" class="user-form-submit">
            </form>
        </div>
        <hr>

        {% for item,value in user_firework_log.items %}
        <div class="firework-count">
            {% with 'message_app/img/'|add:item|add:'.png' as image_static %}
            <p>
                {{item}}
            </p>
            <img class="firework-icon-med" src="{% static image_static %}" alt="firework">
            <p>
                Quantity: {{value}}
            </p>
            {% endwith %}
        </div>
        {% endfor %}
    </div>


</body>