<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Timeline Index</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'login_app/css/style.css' %}">
    <script src="{% static 'login_app/js/jquery.js ' %}"></script>
    <script src="{% static 'login_app/js/gabe-query.js ' %}"></script>

    <script src="{% static 'message_app/unity/ViewMessage/TemplateData/UnityProgress.js' %}"></script>
    <script src="{% static 'message_app/unity/ViewMessage/Build/UnityLoader.js' %}"></script>
    <script>
        var gameInstance = UnityLoader.instantiate("gameContainer", "{% static 'message_app/unity/ViewMessage/Build/LiveSparkler_message.json' %}", { onProgress: UnityProgress });

        var fwCategories = [
            "ninja_star",
            "python",
            "gunicorn",
            "git_basher",
            "stack_overflow"
        ];
        // function initUnity(){
        //     countMax = document.getElementById("fwTotal").getAttribute("value");
        //     console.log(countMax);

        //     var i = 0;
        //     while (i < fwCategories.length - 1) {
        //         if (document.getElementById("fwType_" + fwCategories[i])) {
        //             for (v = 0; v <= (document.getElementById("fwCount_" + fwCategories[i]).getAttribute("value")) - 1; v++) {
        //                 console.log("%*%*%%*%*%*%**%*%*%*%*%%*")
        //                 console.log("fwType_" + fwCategories[i])
        //                 gameInstance.SendMessage("FireworkSpawner", "loadSequence", ("fwType_" + fwCategories[i]));
        //             }
        //         }
        //         i++;
        //     }
        //     gameInstance.SendMessage("FireworkSpawner", "finishSequence", 1);
        // };
    </script>

</head>

<body>

    <div id="container">
        <div id="user-interface">
            <h3>
                Viewing message #: {{message.id}}
            </h3>
            <form action="/logout_user">
                <input type="submit" value="Logout" class="user-form-submit">
            </form>
            <form action="/timeline">
                <input type="submit" value="Timeline" class="user-form-submit">
            </form>
        </div>
        <hr>

        <h4>
            Message by: {{message.user.first_name}} {{message.user.last_name}}
        </h4>

        {% if total_recieved_fireworks > 0 %}
        <div class="webgl-content">
            <div id="gameContainer" style="width: 960px; height: 440px"></div>
        </div>
        {% endif %}
        {% if total_recieved_fireworks == 0 %}
        <p>
            This message has no fireworks yet!
        </p>
        {% endif %}


        <!-- <div class="redoutline" id="main-player-message-firework">
            <p>
                {{message.message}}
            </p>
        </div> -->

        <hr>

        <h4>
            Total Fireworks: {{total_recieved_fireworks}}
        </h4>

        <h4>
            Fireworks Recieved:
        </h4>


        <input id="fwTotal" type="hidden" value="{{total_recieved_fireworks}}">

        {% for item,value in message_firework_log.items %}
        <div class="firework-count">
            {% with 'message_app/img/'|add:item|add:'.png' as image_static %}
            <img class="firework-icon" src="{% static image_static %}" alt="firework">
            {% endwith %}

            <input id="fwType_{{item}}" type="hidden" value="{{item}}">
            <input id="fwCount_{{item}}" type="hidden" value="{{value}}">

            <p>
                x {{value}}
            </p>
        </div>
        {% endfor %}

        <hr>

        {% if message.user != user %}
        <h4>
            Give <span class="redtext">{{message.user.first_name}} {{message.user.last_name}}</span> some fireworks!
        </h4>
        {% for item,value in user_firework_log.items %}
        <div class="firework-count">
            {% with 'message_app/img/'|add:item|add:'.png' as image_static %}
            <p>
                {{item}}
            </p>

            <form action="/deploy_firework/{{message.id}}/{{item}}" method="post">
                {% csrf_token %}
                <input class="firework-icon-med" type="image" src="{% static image_static %}" alt="Submit">
            </form>

            <p>
                Quantity: {{value}}
            </p>
            {% endwith %}
        </div>
        {% endfor %}
        {% endif %}

    </div>

</body>

</html>